#logoClub {
    display: block;
    margin: 0 auto;
}

#div1 {
    margin-top: 20px;
}

.label-login {
    font-size: 25px;
}

.label-modal {
    font-size: 20px;
}

.warning {
    display: block;
    font-weight: bolder;
    text-align: center;
    margin: 25px auto 0;
}

#verPas {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 20px auto 0;
}

.CB{
    margin-left:10px;
}

#botModal {
    display: block;
    margin-top:50px;
    margin-left:25%;
    margin-right:25%;
    
}

prueba{
    visibility:hidden;
}

.login-modal{

}